*{
	margin: 0;
	padding: 0;
	border: 0;
}
.non-display{
	display: none;
}
body{
	background: url("../images/background/repeatable-background.jpg");
	background-size: 5%;
}
div.menu{
	width: 500px;
	margin: auto;
	margin-top: 25%;
}

input.play{
	width:100px;
	margin:50px 0;
	height: 25px;
	background: black;
	color: white;
}

div.game{
	width: 1000px;
	height: 720px;
	background: red;
	margin:auto;
	margin-top: 6.25%;
	display: none;
}
div.game canvas{
	width: 720px;
	height: 720px;
	float: left;
	background: green;
}
section.player_menu{
	width: 280px;
	height: 720px;
	float: left;
}
section.left_player{
	background: red;
}
section.right_player{
	background: blue; 
}

section.unit{
	width: 120px;
	height: 120px;
	padding: 20px 90px;
	float: left;
}
section.unit img{
	width:120px;
	height: 100px;
	float: left;
}
p.info{
	width: 70px;
	float: left;
	font-size: 30px;
}
section.info img{
	float: left;
	width: 50px;
	height: 50px;
}

.select_unit{
	background: #F092DF;
}

input.end_turn{

}

.context_menu_unite , .context_menu_sever {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  background: rgba(255,255,255,0.2);
  position: absolute;
  display: none;
  border-radius: 20px;
}
.menu-options {
    list-style: none;
    padding: 10px 0;

}
.menu-option {
      font-weight: 500;
      font-size: 20px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;
}
.menu-option:hover {
        background: rgba(0, 0, 0, 0.2);
}

